<a href="https://colab.research.google.com/github/myrzenish1985-web/SeminarGIT/blob/main/%D0%9F%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D0%BA%D0%B0_4_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Практика 1 модуль 4

In [ ]:
# Задание 1

print ('Hello, word!')

Hello, word!

In [ ]:
# Задание 2

print('4°C', '8°C', '15°C', '16°C', '23°C','42°C')

4°C 8°C 15°C 16°C 23°C 42°C

In [ ]:
# Задание 3

a='*'

print(a*1)
print(a*2)
print(a*3)
print(a*4)
print(a*5)
print(a*6)
print(a*7)

*
**
***
****
*****
******
*******

In [ ]:
# Задание 4
a=1200000
b=1350000
c=1280000
v=1420000
print('Отчет о доходах:\n1 квартал:',a,'руб.\n2 квартал:', b,'руб.\n3 квартал:', c,'руб.\n4 квартал:',v,'руб.')

Отчет о доходах:
1 квартал: 1200000 руб.
2 квартал: 1350000 руб.
3 квартал: 1280000 руб.
4 квартал: 1420000 руб.

In [ ]:
# Задание 5

print ('Привет, напиши свое имя')
name = input ()
print (f'Добро пожаловать в команду, {name}!')

Привет, напиши свое имя
Влад
Добро пожаловать в команду, Влад!

In [ ]:
# Задание 6

print('Введите название компании')
name = input()
print (f'{name} - лидер рынка!')

Введите название компании
Сбер
Сбер - лидер рынка!

In [ ]:
#Задание 7

print ('Введите название')
name = input()
print ('Введите число строк')
str_c = input()
print ('Введите число столбцов')
count = input()
print(name)
print(str_c)
print(count)

Введите название
Sales Q1
Введите число строк
1000
Введите число столбцов
8
Sales Q1
1000
8

In [39]:
# Задание 8 факультативно

name_bib=[]
name_bib.append('Продажи за январь')
name_bib.append('Продажи за февраль')
name_bib.append('Продажи за март')

#name_bib.sort(reverse=False) можно еще так

name_bib.reverse()
print('\n'.join(name_bib))

Продажи за март
Продажи за февраль
Продажи за январь

In [42]:
#Задание 8

print ('Введите название отчета 1')
a = input()
print ('Введите название отчета 2')
b = input()
print ('Введите название отчета 3')
c = input()
print(c)
print(b)
print(a)

Введите название отчета 1
Продажи за январь
Введите название отчета 2
Продажи за февраль
Введите название отчета 3
Продажи за март
Продажи за март
Продажи за февраль
Продажи за январь

In [ ]:
# Задача 9
print('Введите базовую цену товара')
base_price= int(input())
print('Введите процент роста цены (числом)')
growth_percent = float(input())

new_price = c
c = base_price + growth_percent*base_price
print('new_price =', c)
delta = c - base_price
print('delta =', delta)

Введите базовую цену товара
100
Введите процент роста цены
0.2
new_price = 120.0
delta = 20.0

In [ ]:
#Задача 10
a=['Северный','Центральный','Южный']
print (*a, sep='***')

Северный***Центральный***Южный

In [1]:
#Задача 11
print('Введите имя аналитика ')
name=input()
print('Подключение установлено. Добро пожаловать,', name,end='!')

Введите имя аналитика
Влад
Подключение установлено. Добро пожаловать, Влад!

In [ ]:
#Задача 12
#мой вариант решения
name_tov=['Молоко','Хлеб','Сыр']
print(*name_tov, sep = '|')

#решение по требованию блокнота
print('название товара 1')
name1=input()
print('название товара 2')
name2=input()
print('название товара 3')
name3=input()
print(name1,name2,name3, sep = '|')

Молоко|Хлеб|Сыр
название товара 1
Молоко
название товара 2
Хлеб
название товара 3
Сыр
Молоко|Хлеб|Сыр

In [ ]:
#Задача13

print('Введите число')
a = float(input())
a_int=int(a)

print(a_int)

Введите число
9.7676
9

In [4]:
#Задача 14
orders_yesterday=10
plan=20

abs_diff = abs(plan-orders_yesterday)
print('Абсолютное отклонение от плана равняется', abs_diff)

Абсолютное отклонение от плана равняется 10

In [8]:
#Задача 15

numbers = [input() for _ in range(5)]

# Выводим прочитанные числа
print(numbers)

min_num=min(numbers)
max_num=max(numbers)

print('Наименьшее число =',min_num)
print('Наибольшее число =',max_num)

1
2
3
4
5
['1', '2', '3', '4', '5']
Наименьшее число = 1
Наибольшее число = 5

In [13]:
# Задача 16
print ('Привет! Как твое имя?')
name=input()
print ('Напиши свою фамилию?')
surname = input()
print(f'Привет,{name} {surname}! Вы только что начали изучать Python')

Привет! Как твое имя?
Антон
Напиши свою фамилию?
Иванов
Привет,Антон Иванов! Вы только что начали изучать Python

In [17]:
# Задача 17
print('Введите первую часть цитаты')
a=input()
print('Введите вторую часть цитаты')
b=input()

print(a,b)

Введите первую часть цитаты
«Каждый в этой стране должен научиться программировать,
Введите вторую часть цитаты
потому что это учит думать.»
«Каждый в этой стране должен научиться программировать, потому что это учит думать.»

In [21]:
# Задача 18

sum=int(input('Введите сумму покупки: '))
print(sum > 1000)

Введите целое число: 999
False

In [22]:
# Задача 19

age=int(input('Введите ваш возраст: '))
print(age >= 18)

Введите ваш возраст: 16
False

In [25]:
# Задание 20

V1 = 50
V2 = 70
S = 500

t = S / (V1+V2)
print(t)

4.166666666666667

In [26]:
# Задание 21

a = 443
b = 390
s = a*b/2
print(s)

86385.0

In [30]:
# Задание 22
print ('Введите значение температуры по шкале Фаренгейта')
temp_f=float(input())
temp_c=5/9*(temp_f-32)
print('Температура по шкале Цельсия', temp_c)

Введите значение температуры по шкале Фаренгейта
450.55
Температура по шкале Цельсия 232.5277777777778

In [37]:
# Задание 23

revenue_str = 438746.78
courier_name = 'Влад'

report=int(revenue_str)*0.01
print(f'report = Курьер {courier_name} получит бонус {round(report)} р.')

report = Курьер Влад получит бонус 4387 р.